In [2]:
import pandas as pd

In [4]:
series = pd.Series(['Dave', 'Cheng-Han', 'Udacity', 42, -1789710578])
series

0           Dave
1      Cheng-Han
2        Udacity
3             42
4    -1789710578
dtype: object

In [6]:
series = pd.Series(['Dave', 'Cheng-Han', 359, 9001],
                       index=['Instructor', 'Curriculum Manager',
                              'Course Number', 'Power Level'])

In [7]:
series # looking into the dataframe

Instructor                 Dave
Curriculum Manager    Cheng-Han
Course Number               359
Power Level                9001
dtype: object

In [8]:
series['Instructor']

'Dave'

In [9]:
series[['Instructor']]

Instructor    Dave
dtype: object

In [10]:
cuteness = pd.Series([1, 2, 3, 4, 5], index=['Cockroach', 'Fish', 'Mini Pig',
                                             'Puppy', 'Kitten'])

In [11]:
cuteness > 3

Cockroach    False
Fish         False
Mini Pig     False
Puppy         True
Kitten        True
dtype: bool

In [12]:
cuteness[cuteness > 3]

Puppy     4
Kitten    5
dtype: int64