In [5]:
import pandas
import pandasql

def avg_min_temperature(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data. More specifically you want to find the average
    minimum temperature (mintempi column of the weather dataframe) on
    rainy days where the minimum temperature is greater than 55 degrees.

    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply
    where maxtempi = 76.
    '''
    weather_data = pandas.read_csv(filename)

    q = """
    SELECT AVG(cast(mintempi as integer)) as Avg_MinTemp FROM weather_data
    WHERE (cast(rain as integer) = 1
    AND cast(mintempi as integer) > 55);
    """

    #Execute your SQL command against the pandas frame
    avg_min_temp_rainy = pandasql.sqldf(q, locals())
    return avg_min_temp_rainy

avg_min_temperature('weather-underground.csv')

   Avg_MinTemp
0        61.25