In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [3]:
ser1 = Series(range(3), index=['C','A','B'])
ser1

C    0
A    1
B    2
dtype: int64

In [4]:
# sorting the index
ser1.sort_index()

A    1
B    2
C    0
dtype: int64

In [6]:
# sorting the values
ser1.sort_values()

C    0
A    1
B    2
dtype: int64

In [7]:
from numpy.random import randn

In [9]:
ser2 = Series(randn(10))
ser2

0    0.249411
1    0.643451
2    0.749972
3    2.657062
4   -0.054659
5    1.244807
6    0.966996
7   -1.256191
8    2.655840
9    0.222828
dtype: float64

In [10]:
# sorting the values of the series
ser2.sort_values()

7   -1.256191
4   -0.054659
9    0.222828
0    0.249411
1    0.643451
2    0.749972
6    0.966996
5    1.244807
8    2.655840
3    2.657062
dtype: float64

In [12]:
# using the same index, it tells us in what order they are
# if they were being compared in the sort_values function
ser2.rank()

0     4.0
1     5.0
2     6.0
3    10.0
4     2.0
5     8.0
6     7.0
7     1.0
8     9.0
9     3.0
dtype: float64

In [14]:
ser3 = Series(randn(10))
ser3

0    1.123351
1   -0.696167
2    0.315002
3   -1.947623
4   -0.623975
5   -1.401686
6   -0.300282
7    1.476775
8    0.109934
9   -0.248448
dtype: float64

In [17]:
# The greater the number being the largest
ser3.rank()

0     9.0
1     3.0
2     8.0
3     1.0
4     4.0
5     2.0
6     5.0
7    10.0
8     7.0
9     6.0
dtype: float64

In [16]:
ser3.sort_values()

3   -1.947623
5   -1.401686
1   -0.696167
4   -0.623975
6   -0.300282
9   -0.248448
8    0.109934
2    0.315002
0    1.123351
7    1.476775
dtype: float64