In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [6]:
df = DataFrame({'key1':['A']*2 + ['B']*3,
               'key2':[2,2,2,3,3]})
df

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [7]:
# find the duplicates, check if the row is duplicates
# The first instance of the value returns false
# but if it shows the second time, it will be true
# it does not look like it will be a great way to find
# duplicates
df.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [9]:
# drop duplicates from all the entire df
df.drop_duplicates()

  key1  key2
0    A     2
2    B     2
3    B     3

In [10]:
# or you can choose which columns to drop if 
# it encounters duplicates, does not have to be duplicates in both columns
df.drop_duplicates('key1')

  key1  key2
0    A     2
2    B     2

In [16]:
# by default it checks from the top to down
# but you can choose the last to top
df.drop_duplicates(['key1'],keep='last')

  key1  key2
1    A     2
4    B     3