In [1]:
import pandas as pd

In [2]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
football = pd.DataFrame(data)

In [4]:
# similar ways to do the same thing
football['year']

0    2010
1    2011
2    2012
3    2011
4    2012
5    2010
6    2011
7    2012
Name: year, dtype: int64

In [5]:
football.year

0    2010
1    2011
2    2012
3    2011
4    2012
5    2010
6    2011
7    2012
Name: year, dtype: int64

In [6]:
football[['year']]

   year
0  2010
1  2011
2  2012
3  2011
4  2012
5  2010
6  2011
7  2012

In [7]:
# Examples

In [8]:
football.iloc[[0]]

   losses   team  wins  year
0       5  Bears    11  2010

In [9]:
football.loc[[0]]

   losses   team  wins  year
0       5  Bears    11  2010

In [10]:
football[3:5]

   losses     team  wins  year
3       1  Packers    15  2011
4       5  Packers    11  2012

In [11]:
football[football.wins > 10]

   losses     team  wins  year
0       5    Bears    11  2010
3       1  Packers    15  2011
4       5  Packers    11  2012

In [12]:
football[(football.wins > 10) & (football.team == "Packers")]

   losses     team  wins  year
3       1  Packers    15  2011
4       5  Packers    11  2012