In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
obj = Series([3,6,9,12,15])
obj

0     3
1     6
2     9
3    12
4    15
dtype: int64

In [6]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
obj.values

array([ 3,  6,  9, 12, 15])

In [9]:
ww2_case = Series([8700000, 4300000, 3000000, 2100000, 400000], 
                  index=['USSR', 'Germany', 'China', 'Japan', 'USA'])
ww2_case

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [10]:
# The index is not a number but the name of the country
ww2_case['USSR']

8700000

In [11]:
# Check which country had greater than 4 mill casulties
ww2_case[ww2_case>4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [12]:
# Can look at the key in the series (which are thought of as the index)
'USSR' in ww2_case

True

In [14]:
# Changing the series to a dictonary
ww2_dict = ww2_case.to_dict()
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [16]:
# Changing the dict. back to the series
ww2_series = Series(ww2_dict)
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [17]:
countries = ['China', 'Germany', 'Japan', 'USA', 'Argentina', 'USSR']

In [19]:
# Using the values in the dictionary and adding a list of names as the index
obj2 = Series(ww2_dict, index=ww2_dict.keys())
obj2

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [21]:
# Checking for NaN values
pd.isnull(obj2)

USSR       False
Germany    False
China      False
Japan      False
USA        False
dtype: bool

In [22]:
# Checking if values are not NaN values
pd.notnull(obj2)

USSR       True
Germany    True
China      True
Japan      True
USA        True
dtype: bool

In [23]:
# You can add two series with one another
ww2_series + obj2

China       6000000
Germany     8600000
Japan       4200000
USA          800000
USSR       17400000
dtype: int64

In [24]:
# Changing the name of the object
obj2.name = 'World War 2 Casulaties'

In [25]:
# Changing the name of the index
obj2.index.name = 'Countries'

In [26]:
obj2

Countries
USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
Name: World War 2 Casulaties, dtype: int64