In [2]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame
from numpy.random import randn

In [4]:
ser1 = Series([1,2,3,4], index=['A', 'B', 'C', 'D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [8]:
# Intersting way of adding the new values to a new observations

# Noticed that only the last value is added with the val
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [11]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [13]:
ranger = range(15)
ranger

range(0, 15)

In [15]:
# using a specific method to fill the values
# Forward filling

ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [16]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A', 'B', 'D', 'E', 'F'], 
                   columns=['Col1', 'Col2', 'Col3', 'Col4', 'Col5'])
dframe

       Col1      Col2      Col3      Col4      Col5
A -0.897412  0.000886 -1.082694 -0.542635 -0.704548
B -0.355468  0.095543 -0.044715  0.234306 -0.643967
D  0.314811 -0.577752  0.126160 -0.435646  0.813955
E -0.367673  0.089784  0.729772  1.077856 -0.347482
F  1.319102  0.054521  0.912771  1.393399 -1.914430

In [18]:
# Forgot to add C as the index
dframe2 = dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
dframe2

       Col1      Col2      Col3      Col4      Col5
A -0.897412  0.000886 -1.082694 -0.542635 -0.704548
B -0.355468  0.095543 -0.044715  0.234306 -0.643967
C       NaN       NaN       NaN       NaN       NaN
D  0.314811 -0.577752  0.126160 -0.435646  0.813955
E -0.367673  0.089784  0.729772  1.077856 -0.347482
F  1.319102  0.054521  0.912771  1.393399 -1.914430

In [19]:
new_col = ['Col1', 'Col2', 'Col3', 'Col4', 'Col5', 'Col6']
dframe2.reindex(columns=new_col)

       Col1      Col2      Col3      Col4      Col5  Col6
A -0.897412  0.000886 -1.082694 -0.542635 -0.704548   NaN
B -0.355468  0.095543 -0.044715  0.234306 -0.643967   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.314811 -0.577752  0.126160 -0.435646  0.813955   NaN
E -0.367673  0.089784  0.729772  1.077856 -0.347482   NaN
F  1.319102  0.054521  0.912771  1.393399 -1.914430   NaN

In [20]:
dframe

       Col1      Col2      Col3      Col4      Col5
A -0.897412  0.000886 -1.082694 -0.542635 -0.704548
B -0.355468  0.095543 -0.044715  0.234306 -0.643967
D  0.314811 -0.577752  0.126160 -0.435646  0.813955
E -0.367673  0.089784  0.729772  1.077856 -0.347482
F  1.319102  0.054521  0.912771  1.393399 -1.914430

In [22]:
# The new methods in Python is different than it is with the ix
dframe.loc[['A', 'B', 'D', 'E', 'F'], new_col]

       Col1      Col2      Col3      Col4      Col5  Col6
A -0.897412  0.000886 -1.082694 -0.542635 -0.704548   NaN
B -0.355468  0.095543 -0.044715  0.234306 -0.643967   NaN
D  0.314811 -0.577752  0.126160 -0.435646  0.813955   NaN
E -0.367673  0.089784  0.729772  1.077856 -0.347482   NaN
F  1.319102  0.054521  0.912771  1.393399 -1.914430   NaN