In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("../Data.csv")

In [3]:
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [4]:
df.dtypes

Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

### Lecture 13: Missing Data

In [5]:
# Remember to fill the nan values with 0
# Filling missing values with the mean

# Only performing the missing values for integers/floats
for col in df.columns:
    if df.loc[:, col].dtype != "object":
        df.loc[:,col].fillna(df.loc[:,col].mean(), inplace=True)

In [6]:
# Fixing the decimals in the df
df = df.round(2)

In [7]:
Xs = df.drop('Purchased', 1)
Xs.head()

   Country   Age    Salary
0   France  44.0  72000.00
1    Spain  27.0  48000.00
2  Germany  30.0  54000.00
3    Spain  38.0  61000.00
4  Germany  40.0  63777.78

In [8]:
y = df['Purchased']
y.head()

0     No
1    Yes
2     No
3     No
4    Yes
Name: Purchased, dtype: object

### Lecture 14: Categorical Data
- Setting up dummy variable

In [10]:
# The negative from using is the number labels will make the model
# think that's some kind of benefit of countries with the larger number
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

labelencoder_X = LabelEncoder()
Xs.iloc[:, 0] = labelencoder_X.fit_transform(Xs.iloc[:, 0])

onehotencoder = OneHotEncoder(categorical_features=[0])
Xs = onehotencoder.fit_transform(Xs).toarray()

labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

### Lecture 15: Splitting the Dataset into the Training Set and Test Set

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(Xs, y, test_size=0.2, random_state=0)
X_train, X_test, y_train, y_test

(array([[  0.00000000e+00,   1.00000000e+00,   0.00000000e+00,
           4.00000000e+01,   6.37777800e+04],
        [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           3.70000000e+01,   6.70000000e+04],
        [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00,
           2.70000000e+01,   4.80000000e+04],
        [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00,
           3.87800000e+01,   5.20000000e+04],
        [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           4.80000000e+01,   7.90000000e+04],
        [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00,
           3.80000000e+01,   6.10000000e+04],
        [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           4.40000000e+01,   7.20000000e+04],
        [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00,
           3.50000000e+01,   5.80000000e+04]]),
 array([[  0.00000000e+00,   1.00000000e+00,   0.00000000e+00,
           3.00000000e+01,   5.40000000e+04],
        [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00,
           5.00000000e+01,   8.30000000e+04]]),
 array([1, 1, 1, 0, 1, 0, 0, 1]),
 array([0, 0]))

### Lecture 16: Feature Scaling
- There's two of feature scaling
    - Standarisation: Xstand = x-mean(x)/(std. dev. (x))
    - Normalisation: Xnorm = x-min(x)/max(x)-min(x)
- A great point was what should we do for values that do need to be feature scaling
- the response is for each on its own!

In [15]:
from sklearn.preprocessing import StandardScaler

sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)

# Noticed how we are only using the transform and not the fit transform,
# this is because if we already fit, there's no need to fit it again
X_test = sc_X.transform(X_test)

X_train